HA.HostWeb/Service References/DataService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HA.Services.Objects" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="attendance" nillable="true" type="q1:Attendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAttendanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="attendance" nillable="true" type="q2:Attendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="attendance" nillable="true" type="q3:Attendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttendanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAttendances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAttendancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindAttendancesResult" nillable="true" type="q4:ArrayOfAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="date" nillable="true" type="q5:Date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDateResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="date" nillable="true" type="q6:Date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetYearsResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonths">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMonthsResult" nillable="true" type="q8:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindDatesResult" nillable="true" type="q9:ArrayOfDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChangeover">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="changeover" nillable="true" type="q10:Changeover" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChangeoverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChangeoverResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChangeover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeoverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChangeoverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChangeover">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="changeover" nillable="true" type="q11:Changeover" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChangeoverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferChangeover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateID" type="xs:long" />
        <xs:element minOccurs="0" name="changeoverID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferChangeoverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="TransferChangeoverResult" nillable="true" type="q12:Work" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChangeovers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChangeoversResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindChangeoversResult" nillable="true" type="q13:ArrayOfChangeover" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="detachment" nillable="true" type="q14:Detachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDetachmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="detachment" nillable="true" type="q15:Detachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindDetachmentResult" nillable="true" type="q16:Detachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetachments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="GetDetachmentsResult" nillable="true" type="q17:ArrayOfDetachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="tour" nillable="true" type="q18:Tour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTourResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tourID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="tour" nillable="true" type="q19:Tour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindToursResult" nillable="true" type="q20:ArrayOfTour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="vehicle" nillable="true" type="q21:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVehicleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="vehicle" nillable="true" type="q22:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindVehiclesResult" nillable="true" type="q23:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="work" nillable="true" type="q24:Work" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="work" nillable="true" type="q25:Work" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindWorksResult" nillable="true" type="q26:ArrayOfWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopFaultWorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopFaultWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTopFaultWorksResult" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopCauseWorks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopCauseWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTopCauseWorksResult" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="worker" nillable="true" type="q29:WorkerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="worker" nillable="true" type="q30:WorkerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindWorkerResult" nillable="true" type="q31:WorkerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindWorkersResult" nillable="true" type="q32:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkerState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="workerState" nillable="true" type="q33:WorkerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkerStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkerStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkerState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerStateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkerStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkerState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="workerState" nillable="true" type="q34:WorkerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkerStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkerStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkerStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindWorkerStatesResult" nillable="true" type="q35:ArrayOfWorkerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="workType" nillable="true" type="q36:WorkType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="workType" nillable="true" type="q37:WorkType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detachmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWorkTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/HA.Services.Objects" minOccurs="0" name="FindWorkTypesResult" nillable="true" type="q38:ArrayOfWorkType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>