HA.MVVMClient/Service References/FullTextService/HA.Services.Objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HA.Services.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HA.Services.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFullTextWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FullTextWork" nillable="true" type="tns:FullTextWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFullTextWork" nillable="true" type="tns:ArrayOfFullTextWork" />
  <xs:complexType name="FullTextWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="CauseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateContent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDescriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateID" type="xs:long" />
      <xs:element minOccurs="0" name="DateIsNight" type="xs:boolean" />
      <xs:element minOccurs="0" name="FaultDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="VehicleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FullTextWork" nillable="true" type="tns:FullTextWork" />
</xs:schema>