HA.MVVMClient/Service References/DataService/HA.Services.Objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/HA.Services.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HA.Services.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Attendance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SapNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerStateID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkerTour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerTourID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attendance" nillable="true" type="tns:Attendance" />
  <xs:complexType name="ArrayOfAttendance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendance" nillable="true" type="tns:Attendance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendance" nillable="true" type="tns:ArrayOfAttendance" />
  <xs:complexType name="Date">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateContent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsClosed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNight" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Date" nillable="true" type="tns:Date" />
  <xs:complexType name="ArrayOfDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Date" nillable="true" type="tns:Date" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDate" nillable="true" type="tns:ArrayOfDate" />
  <xs:complexType name="Changeover">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateContent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateID" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsNight" type="xs:boolean" />
      <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Changeover" nillable="true" type="tns:Changeover" />
  <xs:complexType name="Work">
    <xs:sequence>
      <xs:element minOccurs="0" name="CauseDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateContent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateID" type="xs:long" />
      <xs:element minOccurs="0" name="FaultDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsNight" type="xs:boolean" />
      <xs:element minOccurs="0" name="VehicleID" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Work" nillable="true" type="tns:Work" />
  <xs:complexType name="ArrayOfChangeover">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Changeover" nillable="true" type="tns:Changeover" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeover" nillable="true" type="tns:ArrayOfChangeover" />
  <xs:complexType name="Detachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detachment" nillable="true" type="tns:Detachment" />
  <xs:complexType name="ArrayOfDetachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detachment" nillable="true" type="tns:Detachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetachment" nillable="true" type="tns:ArrayOfDetachment" />
  <xs:complexType name="Tour">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="ser:duration" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tour" nillable="true" type="tns:Tour" />
  <xs:complexType name="ArrayOfTour">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tour" nillable="true" type="tns:Tour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTour" nillable="true" type="tns:ArrayOfTour" />
  <xs:complexType name="Vehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehicle" nillable="true" type="tns:Vehicle" />
  <xs:complexType name="ArrayOfVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehicle" nillable="true" type="tns:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicle" nillable="true" type="tns:ArrayOfVehicle" />
  <xs:complexType name="ArrayOfWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Work" nillable="true" type="tns:Work" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWork" nillable="true" type="tns:ArrayOfWork" />
  <xs:complexType name="WorkerDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SapNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tours" nillable="true" type="tns:ArrayOfTour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerDetail" nillable="true" type="tns:WorkerDetail" />
  <xs:complexType name="ArrayOfWorker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Worker" nillable="true" type="tns:Worker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorker" nillable="true" type="tns:ArrayOfWorker" />
  <xs:complexType name="Worker">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SapNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Worker" nillable="true" type="tns:Worker" />
  <xs:complexType name="WorkerState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerState" nillable="true" type="tns:WorkerState" />
  <xs:complexType name="ArrayOfWorkerState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkerState" nillable="true" type="tns:WorkerState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkerState" nillable="true" type="tns:ArrayOfWorkerState" />
  <xs:complexType name="WorkType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkType" nillable="true" type="tns:WorkType" />
  <xs:complexType name="ArrayOfWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkType" nillable="true" type="tns:WorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkType" nillable="true" type="tns:ArrayOfWorkType" />
</xs:schema>